<h1 class="text-center">Bot List</h1>
<table class='table borderless text-center'>
<% @bots.each do |bot|%>
<tr>
<td><%= link_to image_tag(bot.image.url(:thumb)), bot_path(bot) %> </td>
<td><%= link_to bot.name, bot_path(bot) %><td>
<td><%= link_to new_favorite_path(bot_id: bot.id), class: "btn-glyphicon" do %>
<i class="glyphicon glyphicon-heart"></i></td>
<% end %>
<% if current_user.admin %>
<td> <%= link_to "Delete Bot", bot_path(bot), :method => :delete, :class => "btn btn-xs btn-danger"%></td>
<% end %>
<% end %>
<end>
</table>
