/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 html {
   position: relative;
   min-height: 100%;
 }
 body {
   /* Margin bottom by footer height */
   margin-bottom: 60px;
   background-image: url("/images/fatrobot.jpg");
   background-size: 57%;
   color:green;
   font-family:courier;

 }



 .bot-list {
   color: #9966FF;
   text-shadow: 1px 1px black;
   background-color:white;
   opacity: .8;
 }

.yield-container {
  background-color:white;
  opacity: .8;
}

 .navbar {
   background-color: gray;
   opacity: .9;
   color: black;
   font-size: 20px;
   font-family: arial;
   font-weight: bold;
   padding-top: .5em;
 }


 .footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   /* Set the fixed height of the footer here */
   height: 60px;
   background-color: gray;
   opacity: .9;
 }

 .borderless td, .borderless th {
   border: none;
   text-align:center;
   background-color: white;
   opacity: 0.75;
 }

 .btn-glyphicon
 {
   -webkit-appearance: none;
   outline: none;
   border: 0;
   background: transparent;
   text-decoration: none;
   color: red;
 }

.footer-button {
  padding-left:8em;
  text-align:center;
  font-family:arial;
  font-weight:bold;
}

.btn-bot-list
{
  -webkit-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
  text-decoration: none;
  color: green;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.gif);
}

.container {
  width: 500px;
  clear: both;
  text-align:center;
}
.container input {
  width: 100%;
  clear: both;
}
